<h1><%=t '.new_food_header', meal_name: meal.name, consumed_at: l(meal.consumed_at, format: :short) %></h1>

<% if food.errors.any? %>
  <div class="alert alert-danger" roler="alert">
    <%=t 'alert.validation_errors_present' %>
  </div>
<% end %>

<div class="form-horizontal">
<%= form_for food do |f| %>
  <%= f.hidden_field :meal_id %>
  <div class="form-group <%= form_error_classes(food.errors[:name]) %>">
    <%= f.label :name, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= f.text_field :name, class: 'form-control' %>
      <% if food.errors[:name].any? %>
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <span class="help-block"><%= food.errors[:name].join(', ') %></span>
      <% end %>
    </div>
  </div>

  <% food.servings_fields.each do |field_name| %>
    <div class="form-group <%= form_error_classes(food.errors[field_name]) %>">
      <%= f.label field_name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field field_name, class: 'form-control' %>
        <% if food.errors[field_name].any? %>
          <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
          <span class="help-block"><%= food.errors[field_name].join(', ') %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit t('.create_food'), class: 'btn btn-primary' %>
      <%= link_to t('cancel_button'), daily_scorecard_path(daily_scorecard_path_params), class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
</div>
