<tr class="info">
  <th colspan="2">
    <%= meal.name %> <small><%=t '.consumed_at',
      time: l(meal.consumed_at, format: :time) %></small>
  </th>
  <td class="text-right">
    <%= link_to(t('.add_food_button'), new_meal_food_path(meal_id: meal.id),
                class: 'btn btn-success btn-xs') %>
    <%= button_to(t('.delete_meal_button'), meal_path(meal), method: :delete,
                  class: 'btn btn-danger btn-xs') %>
  </td>
</tr>
<% meal.foods.each do |food| %>
  <tr>
    <th class="text-right"><%= food.name %></th>
    <td>
      <ul>
        <% food_types.each do |ft| %>
          <%
            servings = food.servings_of(ft.key)
            next if servings == 0
          %>
          <li><%=t "food_type.#{ft.key}"%>: <%= servings %></li>
        <% end %>
      </ul>
    </td>
    <td class="text-right"><%= link_to(t('.edit_food_button'), edit_food_path(food),
                    class: 'btn btn-default btn-xs') %>
    <%= button_to(t('.delete_food_button'), food_path(food),
                      method: :delete, class: 'btn btn-danger btn-xs') %></td>
  </tr>
<% end %>
