<div class="row">
<h3>
  <div class="col-md-4">
    <%= meal.name %> <%=t '.consumed_at',
      time: l(meal.consumed_at, format: :time) %>
  </div>
  <div class="col-md-4">
    <%= link_to(t('.add_food_button'), new_meal_food_path(meal_id: meal.id),
                class: 'btn btn-success btn-xs') %>
    <%= button_to(t('.delete_meal_button'), meal_path(meal), method: :delete,
                  class: 'btn btn-danger btn-xs') %>
  </div>
</h3>
<ul>
  <%= render partial: 'food', collection: meal.foods %>
</ul>
</div>
