<h1><%=t '.scorecard_for', date: l(daily_scorecard.date) %></h1>

<nav>
  <ul class="pager">
    <li><%= link_to t('.previous_day_link'), daily_scorecard_path(daily_scorecard.previous.to_param), class: 'previous' %></li>
    <li><%= link_to t('.today_link'), daily_scorecard_today_path %></li>
    <li><%= link_to t('.next_day_link'), daily_scorecard_path(daily_scorecard.next.to_param), class: 'next' %></li>
  </ul>
</nav>

<div class="row">
  <div id="daily_scorecard_summary" class="col-lg-4">
    <h2><%=t '.total_points' %>: <%= daily_scorecard.total_points %> / <%= daily_scorecard.possible_points %></h2>
    <h2><%=t '.summary_heading' %></h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th><%=t '.servings_consumed_heading' %></th>
          <th><%=t '.servings_recomended_heading' %></th>
          <th><%=t '.points_earned_heading' %></th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'food_type_scorecard', collection: daily_scorecard.food_type_scorecards %>
      </tbody>
    </table>
  </div>

  <div class="col-lg-8">
    <h2>
      <%=t '.meals_heading' %>
      <%= link_to(t('.add_meal_button'), new_meal_path(daily_scorecard.to_param),
        class: 'btn btn-success') %>
    </h2>
    <div class="row">
      <table class="table table-hover">
        <%= render partial: 'meal', collection: daily_scorecard.meals %>
      </table>
    </div>
  </div>
</div>
